<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">My Portifolio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" routerLink="/"  >Home</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="adduser" routerLinkActive="active">add user</a>
        </li>
 <li class="nav-item">
         <a class="nav-link" routerLink="updateuser" routerLinkActive="active">update user</a>
        </li>

         <li class="nav-item">
         <a class="nav-link" routerLink="Education" routerLinkActive="active">update Education</a>
        </li>

              <li class="nav-item">
         <a class="nav-link" routerLink="aEducation" routerLinkActive="active">add Education</a>
        </li>
               <li class="nav-item">
         <a class="nav-link" routerLink="addproject" routerLinkActive="active">add project</a>
        </li>

               <li class="nav-item">
         <a class="nav-link" routerLink="updateproject" routerLinkActive="active">update project</a>
        </li>
               <li class="nav-item">
         <a class="nav-link" routerLink="askill" routerLinkActive="active">add skill</a>
        </li>

              <li class="nav-item">
         <a class="nav-link" routerLink="uskill" routerLinkActive="active">update skill</a>
        </li>

               <li class="nav-item">
         <a class="nav-link" routerLink="scontact" routerLinkActive="active">show contact</a>
        </li>



      </ul>



    </div>
  </div>
</nav>
