
 <div class="container d-flex justify-content-center align-items-center min-vh-100 bg-light">
  <div class="card p-4 shadow-lg" style="width: 100%; max-width: 400px; border-radius: 20px;">
    <div class="text-center mb-4">
   
      <h1 class="fw-bold">Add User</h1>
    </div>

    <form (ngSubmit)="submitForm()" #userForm="ngForm">
 
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          [(ngModel)]="user.name"
          placeholder="Name"
          required
        />
        <label for="name">Name</label>
      </div>

      <div class="form-floating mb-3">
        <input
          type="date"
          class="form-control"
          id="birthdate"
          name="birthdate"
          [(ngModel)]="user.birtdate"
          placeholder="Birthdate"
          required
        />
        <label for="birthdate">Birthdate</label>
      </div>

      <div class="form-floating mb-3">
        <input
          type="tel"
          class="form-control"
          id="phone"
          name="phonenumber"
          [(ngModel)]="user.phonenumber"
          placeholder="Phone Number"
          required
        />
        <label for="phone">Phone Number</label>
      </div>

      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          [(ngModel)]="user.email"
          placeholder="Email"
          required
        />
        <label for="email">Email</label>
      </div>

   
      <div class="d-grid">
        <button type="submit" class="btn btn-success">Add</button>
      </div>
    </form>

    
  </div>
</div>
